.header {
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
}

.searchInput {
	margin: 10px;
}
.logo {
	width: 200px;
}

.nav-items {
	padding: auto;
	color: black;
}

.nav-items>ul {
	font-size: 24px;
	display: flex;
	list-style: none;
	
}

.nav-items>ul>li {
	padding: 10px;
	margin: 10px;
	color: black;
}

.res-container {
	display: flex;
	flex-wrap: wrap;
}

.res-card {
	background-color: #F2F2F2;
	color: #333333;
	margin: 10px;
	padding: 5px;
	width: 200px;
}

.res-card:hover {
	cursor: pointer;
	border: 1px solid black;
}

.search {
	padding: 10px
}
.filer-btn{
	margin: 10px;
	cursor: pointer;
}

.res-logo {
	width: 100%;
}

.shimmer-container {
	display: flex;
	flex-wrap: wrap;
}
	
.shimmer-card {
	margin: 10px;
	width: 200Px;
	height: 400px;
	background-color: #F2F2F2;
}

.logIn {
	padding: 0 15px;
	margin-right: 10px;
	cursor: pointer;
}
.filter {
	display: flex;
}

.user-card {
	border: 1px solid black;
}